<?xml version="1.0" encoding="UTF-8"?>
<module>
	<permissions>
		
	</permissions>
	<permissions>
		<title>Combo[Combo]</title>
		<item>
			<param>combos/backend/combos/view</param>
			<description>Xem</description>
		</item>
		<item>
			<param>combos/backend/combos/create</param>
			<description>Thêm</description>
		</item>
		<item>
			<param>combos/backend/combos/update</param>
			<description>Sửa</description>
		</item>
		<item>
			<param>combos/backend/combos/delete</param>
			<description>Xóa</description>
		</item>
		<item>
			<param>combos/backend/combos/read</param>
			<description>Đọc</description>
		</item>
	</permissions>
</module>