<?xml version="1.0" encoding="UTF-8"?>
<module>
	<permissions>
		<title>[Hệ thống]</title>
		<item>
			<param>systems/backend/systems/view</param>
			<description>Cấu hình</description>
		</item>
		<item>
			<param></param>
			<description></description>
		</item>
	</permissions>
	<permissions>
		<title></title>
	</permissions>
</module>